{{#extend "layout"}}

{{#replace "body"}}

<div class="container">
  <div class="files-browser">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="name">Folders</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div id="folders">
          <ul>
            {{#each folders.children.folders}}
              <li>
                <a href="/folder/{{_id}}?includeParent=true">{{name}}</a>
                {{#permissions.write}}
                  <span class="pull-right">
                    <a href="/folder/edit/{{_id}}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="/folder/remove/{{_id}}"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                {{/permissions.write}}
              </li>
            {{/each}}
          </ul>
          {{#if folders.permissions.you.create}}
            <a id="newFolderButton" class="btn btn-default" href="/folder/add">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          {{/if}}
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div id="files">
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{/replace}}

{{/extend}}