{{#extend "layout"}}

{{#replace "body"}}

  <div class="container">
    <div class="files-browser">
      <div class="row">
        <div class="col-xs-12">

          <form id="removeFolderForm" method="POST" action="/folder/{{folder._id}}">
            {{#if folder.parent}}
              <input type="hidden" name="redirect" value="/folder/{{folder.parent}}?includeParent=true" />
            {{else}}
              <input type="hidden" name="redirect" value="/folders" />
            {{/if}}
            <input type="hidden" name="_method" value="DELETE" />

            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-12">
                        Remove Folder - {{folder.name}}?
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6 col-sm-4">
                        <input type="checkbox" name="recursive" value="true" />Recursive Remove?
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <input type="submit" class="btn btn-primary" value="Remove" />
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

{{/replace}}

{{/extend}}